@import '../../../App.css';

.commentBoxContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 20px;
}

.commentBox {
  width: var(--width-window-large);
  height: fit-content;
  border: 1px solid #C5C5C5;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  padding-left: 60px;
  padding-right: 60px;
}

.commentHeader{
  width: 100%;
}

.inputComment {
  width: 80%;
  height: 30px;

  font-family: var(--font-family-DoHyeon);
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10px;

  margin-top: 10px;
  margin-bottom: 10px;

  padding-left: 10px;
  padding-right: 10px;


  line-height: 30px;
  font-size: 16px;
}

.addBtn{
  font-family: var(--font-family-DoHyeon);
  width: 80px;
  height: 30px;
  background-color: #C5C5C5;
  color: var(--color-white);
  border-radius: 10px;
  margin-left: 20px;
  color: black;
}

.commentBox > ul {
  width: 100%;
}

.comment {
  width: 100%;
  background-color: yellowgreen;
  padding-top: 8px;
  padding-bottom: 8px;

  border: 1px solid #C5C5C5;
}

.reply {
}