.teamBlock {
  width: 404px;
  height: 240px;
  border: 1px solid #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20px;
}

.teamBlockHeader{
  text-align: center;
  display: flex;
  justify-content: flex-start;
}

.teamName{
  font-family: var(--font-family-DoHyeon);
  text-align: center;
  transform: translate(0, 20px);
}

.hostImg {
  width: 60px;
  height: 60px;
  background-color: #C5C5C5;
  border-radius: 100%;
}

.divider {
  width: 90%;
  height: 1px;
  transform: translateX(16px);
  background-color: #C5C5C5;
}

.label{
  width: 125px;
  height: 30px;
  background: #E9E9E9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  font-family: var(--font-family-DoHyeon);
  font-size: 16px;
  line-height: 30px;
  text-align: center;

  font-size: 14px;
}

 .inputReadOnly {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10px;

  width: 210px;
  height: 30px;

  margin-left: 20px;
  padding-left: 10px;
  padding-right: 10px;

  text-align: center;

  font-size: 16px;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container {
  display: flex;
  justify-content: space-around;
}