:root {

  /* font */
  --font-family-DoHyeon: 'Do Hyeon';

  /* color */
  --color-devPool: #F25022;
  --color-white: #FFFFFF; 



  /* height */
  --height-header: 60px;

  /* width */
  --width-full: 100%;
  
}

* {
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

ul {
  list-style: none;
}