.myChat {
    text-align: right;
}

.chat {
    width: 1000px;
    margin: 30px auto; 
    display: flex;
    justify-content: space-between;
}

.chatLog {
    display: flex;
    flex-direction: column;
    border: 2px solid lightgray;
    border-radius: 12px;
    text-align: center;
    margin-right: 20px;
    
}

.chattings {
    width: 630px;
    margin-bottom: 100px;
    margin: auto;
    max-height: 570px;
    overflow-y: auto;
    padding: 16px;
    position: relative;
}

.chatwrapper {
    cursor: pointer;
    border: solid 1.5px lightgray;
    padding: 8px 8px;
    border-radius: 8px;
    min-width: 260px;
    max-height: 80vh;
    text-align: center;
}

.chatHeader {
    /* chat header에 대한 스타일 */
    text-align: center;
    padding: 0 0 12px 0;
  }
  
  .nickname {
    /* nickname에 대한 스타일 */
    font-weight: bold;
  }
  
  .chatContent {
    /* 채팅 내용에 대한 스타일 */
    padding: 8px;
    background-color: #eaeaea;
    border-radius: 10px;
    margin-bottom: 6px;
  }
  
  .myChat {
    /* 나의 채팅에 대한 스타일 */
    display: inline-block;
    text-align: right;
    background-color: #F25022;
    color: #fff;
  }
  
  .otherChat {
    /* 상대방의 채팅에 대한 스타일 */
    text-align: left;
    display: inline-block;
    background-color: #f2f2f2;
    color: #333;
  }

  .myWrapper {
    text-align: right;
  }

  .myChat, .otherChat {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 2px;
    font-size: 20px;
    font-family: var(--font-family-DoHyeon);
  }
  
  .inputContainer {
    /* input과 button을 감싸는 영역에 대한 스타일 */
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }

  .inputWrapper {
    /* position: fixed;
    bottom: 40px;
    left: 0; */
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 0 45px;
    margin-top: 15px;
    /* width: 100%; */
  }
  
  .inputWrapper input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    height: 40px;

  }
  
  .inputWrapper button {
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }

  .myTime, .otherTime {
    font-size: 14px;
    margin: 0 12px 0 10px;
  }

  .myTime {
    text-align: right;
  }

