.userBlockWrapper {
    width: 404px;
    height: 240px;

    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    margin: 12px 0;
    padding: 30px;
}

.userBlockWrapper:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.userBlockStackFiled {
    margin-top: 20px;
}

.user_img {
    width: 80px;
    height: 80px;
    background-color: var(--color-devPool);
    border-radius: 100%;
}

.mailBtn {
    margin-left:48px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    border-radius: 100%;
    height: 32px;
    width: 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-self: center;
}

.user_nickName {
    margin-top: 25px;
    margin-left: 32px;
}

.recruitFieldIcon {
    width: 40px;
    height: 40px;
    padding: 6px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100%;
    margin: 0 5px;
  }